@import "app/styles";

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0.1rem solid $color-primary;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0 0.3rem 0.3rem;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    box-shadow: $shadow-primary;
    transform: translateY(-0.5rem);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
