.header {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
  nav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;

    a {
      &:hover {
        text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
      }
    }
  }
}
