@import "app/styles";

.button {
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: white;
  border: 0.1rem solid $color-primary;
  color: $color-primary;
  border-radius: 1rem;
}
