@import "app/styles";

.profile {
  display: inline-block;
  border: 0.1rem solid $color-primary;
  border-radius: 2rem;
  padding: 2rem;
  background-color: white;

  &__avatar {
    text-align: center;
    img {
      width: 20rem;
      height: 20rem;
    }
  }

  &__info {
  }
}
